<%- include("./_headercli") -%>
<div class=" adm col-sm-9">
  <div class="col">
<h2>Your offers (<%= model.length %>)</h2>
<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Offer</th>
        <th>Companies</th>
        <th>Adresse</th>
        <th>City</th>
        <th>Pay</th>
        <th>Text to Companies</th>
      </tr>
    </thead>
    <tbody>
      <% for (const apply of model) { %>
        <tr>
          <td><%= apply.advert_title %></td>
          <td><%= apply.comp_name %></td>
          <td><%= apply.comp_adresse %></td>
          <td><%= apply.comp_city %></td>
          <td><%= apply.advert_pay %>$/month</td>
          <td><%= apply.text %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-9"></div>
    <a class="mr-4 mb-4 btn btn-primary cancel" href="/connect/apply">Consult Offers</a><a class="mb-4 btn btn-outline-dark cancel" href="/connect/dashboard">Cancel</a></div>
</div>
</div>
</div>

<%- include("./_footercli") -%>