<%- include("../admin/_headerad") -%>

<h2>Delete a company</h2>
<% for (const companies of model) { %>
<form action="/connectad/companies/delete/<%= companies.comp_id %>" method="post">
  <div class="form-horizontal">

    <% for (const companies of model) { %>
      <div class="form-group row">
          <label class="col-form-label col-sm-2" for="Adresse">Address</label>
            <div class="col-sm-7">
              <input readonly class="form-control" name="Adresse" value="<%= companies.comp_adresse %>"/>
            </div>
          </div>
          
          <div class="form-group row">
            <label class="col-form-label col-sm-2" for="ZIPcode">ZIP Code</label>
            <div class="col-sm-7">
              <input readonly class="form-control" name="ZIPcode" value="<%= companies.comp_ZIP %>"/>
            </div>
          </div>
        
          <div class="form-group row">
            <label class="col-form-label col-sm-2" for="Ville">City</label>
            <div class="col-sm-7">
              <input readonly class="form-control" name="Ville" value="<%= companies.comp_city %>"/>
            </div>
          </div>
        
          <div class="form-group row">
            <label class="col-form-label col-sm-2" for="CompaniesName">Company Name</label>
            <div class="col-sm-7">
              <input readonly class="form-control" name="CompaniesName" value="<%= companies.comp_name %>"/>
            </div>
          </div>
      </div>
        <% } %>  

    <div class="form-group row">
      <label class="col-form-label col-sm-2"></label>
      <div class="col-sm-10">
        <input type="submit" value="Effacer" class="btn btn-default btn-danger" />
        <a class="btn btn-outline-dark cancel" href="/connectad/companies">Cancel</a>
      </div>
    </div>
  </div>
</form>
<% } %>
<%- include("../admin/_footerad") -%>
